.landing {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
}

.imgContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 60px;
}
.img1 {
  width: 270px;

  top: 45px;
  position: relative;
}
.img2 {
  width: 270px;
  position: relative;
  top: -20px;
  z-index: 2;
}
.logo {
  width: 700px;
}
